<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2026 Langou Input Method contributors
SPDX-License-Identifier: GPL-3.0-or-later
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.osfans.trime.langou.LangouDebugReceiver"
            android:exported="true" />

        <activity
            android:name="com.osfans.trime.langou.ImeHostActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
    </application>
</manifest>
